<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
    
    	<!-- Database connection settings -->
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property><!-- TODO: check -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">teamd</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/oculusdb</property>
        <property name="hibernate.connection.username">admin</property>
        
        <!-- JDBC connection pool -->
        <!-- TODO -->
       
		<!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- Lazy Loading -->
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        
        <!-- TODO: check if needed: (declare even default values)
        	"Enable Hibernate's automatic session context management"
        	"Disable the second-level cache"
			"Drop and re-create the database schema on startup"
			"Use lazy loading"        
			"disable auto commit"	
			"To enable the thread-bound strategy in your Hibernate configuration:
				set hibernate.transaction.factory_class to org.hibernate.transaction.JDBCTransactionFactory
				set hibernate.current_session_context_class to thread"
			
         -->
        
        <!--  -->
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        
        <!-- Mappings -->
        <mapping class="at.itb13.oculus.domain.Administrator" />
        <mapping class="at.itb13.oculus.domain.Calendar" />
        <mapping class="at.itb13.oculus.domain.CalendarEvent" />
        <mapping class="at.itb13.oculus.domain.CalendarWorkingHours" />
        <mapping class="at.itb13.oculus.domain.Diagnosis" />
        <mapping class="at.itb13.oculus.domain.Doctor" />
        <mapping class="at.itb13.oculus.domain.EventType" />
        <mapping class="at.itb13.oculus.domain.ExaminationProtocol" />
        <mapping class="at.itb13.oculus.domain.ExaminationProtocolServiceCode" />
        <mapping class="at.itb13.oculus.domain.ExaminationResult" />
        <mapping class="at.itb13.oculus.domain.InsuranceCarrier" />
        <mapping class="at.itb13.oculus.domain.Medicine" />
        <mapping class="at.itb13.oculus.domain.Orthoptist" />
        <mapping class="at.itb13.oculus.domain.Patient" />
        <mapping class="at.itb13.oculus.domain.Permission" />
        <mapping class="at.itb13.oculus.domain.Prescription" />
        <mapping class="at.itb13.oculus.domain.PrescriptionEntry" />
        <mapping class="at.itb13.oculus.domain.Receptionist" />
        <mapping class="at.itb13.oculus.domain.ReferralLetter" />
        <mapping class="at.itb13.oculus.domain.ServiceCode" />
        <mapping class="at.itb13.oculus.domain.User" />
        <mapping class="at.itb13.oculus.domain.UserGroup" />
        <mapping class="at.itb13.oculus.domain.UserPermission" />
        <mapping class="at.itb13.oculus.domain.VisualAid" />
        <mapping class="at.itb13.oculus.domain.WorkDisability" />
        <mapping class="at.itb13.oculus.domain.WorkingHours" />
        <mapping class="at.itb13.oculus.domain.entities.QueueEntity" />

    </session-factory>
</hibernate-configuration>
