<?xml version="1.0" encoding="UTF-8"?> 
<Configuration> 
  <Appenders> 
    <Console name="CONSOLE" target="SYSTEM_OUT"> 
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> 
    </Console> 
  </Appenders> 
  <Loggers> 
<Root level="error">
10
            <AppenderRef ref="Console" />
11
        </Root>
12
        <logger name="javabeat.net.util" level="TRACE" />
13
        <Root level="ERROR">
14
            <AppenderRef ref="CONSOLE"/>
15
        </Root>

  </Loggers> 
</Configuration>