body {
	background-color: #F4F5ED !important;
	color: #373833 !important;
	font-family: 'Open Sans', sans-serif !important;
}

body > div {
	margin: 0 auto;
	overflow: auto;
	max-width: 1024px;
	min-width: 768px;
}

#wrapper {
	border: 1px solid black;
	padding: 5px;
}